@font-face
{
	font-family: Heavy Data;
	src: url(../fonts/heavy_data.ttf);
}

#mainMenu
{
    position: absolute;
    width: 250px;
    height: 330px;
    top: 50%;
    left: -50%;
    margin-top: -165px;
    margin-left: -125px;
    z-index: 3;
    background: url(../images/menubox.png);    
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
}

#mainMenu.visible
{
 	left: 50%;
}

#mainMenu #title
{
    font-family: Heavy Data;
    font-weight: bold;
    color: #0f0;
    font-size: 34px;
    margin-top: 10px;
    text-align: center;
}

#highScores
{
    width: 200px;
    margin: 1em auto;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    color: #ff0;
    border-collapse: collapse;
    border-spacing: 0;
}

#highScores td, #highScores th
{
    padding: 1px 0;
}

#highScores th
{
    font-weight: bold;
    border-bottom: solid #cc0 1px;
}

#highScores .name
{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}

#highScores .level
{
    padding: 0;
    text-align: center;
    padding: 1px 5px;
}

#highScores .score
{
    text-align: right;
}

#mainMenu #buttons
{
    position: absolute;
    left: 19px;
    bottom: 19px;
}

#mainMenu .button
{
	width: 212px;
	text-align: center;
	height: 35px;
    margin-top: 10px;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding-top: 7px;
    color: #0f0;
    background: url(../images/button.png) no-repeat;
    text-transform: uppercase;   
}

#mainMenu #helpButton
{
    width: 101px;
    height: 33px;
    font-size: 14px;
    padding-top: 9px;
    background: url(../images/smallbutton.png) no-repeat;
    float: left;
    margin-right: 10px;
}

#mainMenu #preferencesButton
{
    width: 101px;
    height: 33px;
    font-size: 14px;
    padding-top: 9px;
    background: url(../images/smallbutton.png) no-repeat;
    float: left;
}

#mainMenu .hidden-button
{
    display: none;
}

#hud
{
    font-family: Verdana, sans-serif;
    font-size: 12px;      
    position: absolute;
    left: 0;
    top: 0;
    color: #0f0;
    right: 0;
    bottom: 0;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
}

#hud .bar
{
    left: 0;
    right: 0;
    position: absolute;
    height: 35px;
    background: url(../images/hud_gradient.png) repeat-x;
}

#hud #topBar
{
    top: -35px;
    transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
}

#hud #bottomBar
{
    bottom: -35px;
    transition: bottom 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out;
    -webkit-transition: bottom 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out;
}

#hud.visible #topBar
{
    top: 0;
}

#hud.visible #bottomBar
{
    bottom: 0;
}

#hud .bar .display
{
    font-size: 10px;
    position: absolute;
    white-space: nowrap;
    text-transform: uppercase;
}

#hud #levelDisplay
{
    left: 8px;
    top: 4px;
}

#hud #scoreDisplay
{
    right: 8px;
    top: 4px;
}

#hud #shieldDisplay
{
    left: 8px;
    top: 4px;
}

#hud #hullDisplay
{
    right: 8px;
    top: 4px;
}

#hud .value
{
    color: #0f0;
	margin: 0 8px;
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: 16px;
}

#hud .value-warning
{
    color: #ff0;
}

#hud .value-critical
{
    color: #f44;
}
        
#gameCanvas
{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    background-position: center center;
    background-image: url(../images/background1.jpeg);    
}

#stateLabel
{
    position: absolute;
    left: 16px;
    right: 16px;
    top: 33%;
    text-align: center;
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 128, 0);
    transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
}

#stateLabel.visible
{
    color: rgba(255, 255, 128, 0.75);
}
